@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
    margin: 0;
    padding-top: 0;
}


body{
    margin: 0;
    background-color: rgb(170, 199, 223);
}

#menuu{
    
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 60px;
    text-align: right;
}

#menuu li{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 4px;
    margin: 15px;
    
}

#menuu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menuu li a:hover{
    color: rgb(42, 170, 255);
}

#logo{
    padding-top: 17px;
    width: 40px;
    text-align: left;
    float: left;
}

.atributos{
    margin-top: 12px;
    border: none;
    border-radius:5px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
}

.atributos div{
    font-family: 'Montserrat', sans-serif;
    color: rgb(214, 224, 224);
}

.atributos div{
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(9, 100, 100);
}


.fildbackground{
    border: none;
    padding: 10px;
    background-color: rgb(152, 178, 182);
}

.usuario{
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: rgb(230, 228, 228);
}

#pessoa{
    font-family: 'Montserrat', sans-serif;
    border: 1px;
    margin: 2px;
    border-radius: 5px;
    padding: 10px;
}


#pessoa:hover{
    background-color: rgb(42, 170, 255);
    color: rgb(0, 0, 0);
}

#enviar{
    text-align: center;
}

#botão{
    font-family: 'Montserrat', sans-serif;
    border: 1px;
    margin: 2px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(9, 100, 100);
}

#botão:hover{
    color: rgb(0, 0, 0);
    background-image: -moz-linear-gradient(rgb(235, 239, 240),rgb(191, 195, 196));
}
