@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    background-image: url(../imgs/background.jpg);
}

#menuu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 165, 199, 0.726);
    
    
}

#menuu li{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 4px;
    margin: 10px;
    
}

#menuu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menuu li a:hover{
    color: rgb(8, 63, 100);
}

#logo{
    width: 40px;
    margin-top: 5px;
}

.atributos{
    
    width: 400px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    border: none;
    border-radius:5px;
    background-color: rgba(34, 29, 29, 0.596);
    padding: 10px;
}

.atributos div{
    font-family: 'Montserrat', sans-serif;
    color: rgb(11, 66, 66);
}

.atributos div{
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 207, 82);
}


.fildbackground{
    
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px;
}

.usuario{
    border: none;
    width: 400px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(15, 14, 14, 0.918);
}

#pessoa{
    font-family: 'Montserrat', sans-serif;
    border: 1px;
    margin: 2px;
    border-radius: 5px;
    padding: 10px;
}


#pessoa:hover{
    background-color: rgb(42, 170, 255);
    color: rgb(0, 0, 0);
}

#enviar{
    display: flex;
    margin: 10px;
    align-items: center;
    
}

#botão{
    font-family: 'Montserrat', sans-serif;
    border: 1px;
    margin: 2px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(9, 100, 100);
}

#botão:hover{
    color: rgb(0, 0, 0);
    background-image: -moz-linear-gradient(rgb(235, 239, 240),rgb(191, 195, 196));
}
